name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          registry-url: https://registry.npmjs.org/
      - run: npm i -g pnpm @antfu/ni
      - run: nci
      - run: npx conventional-github-releaser -p angular
        env:
          CONVENTIONAL_GITHUB_RELEASER_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - run: yarn run build
      - run: yarn publish --non-interactive
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      # - run: npx vsce publish -p ${{secrets.VSCE_TOKEN}}
      #   env:
      #     VSCE_TOKEN: ${{secrets.VSCE_TOKEN}}
      # - run: npx ovsx publish -p ${{secrets.OVSX_TOKEN}}
      #   env:
      #     OVSX_TOKEN: ${{secrets.OVSX_TOKEN}}
